@media (min-width: 768px) {
    body {
        display: flex;
        flex-direction: column;        
        align-items: center;   
        height: 100vh; 
    }

    .container {
        display: flex;
        align-items: center;
        height: 100%;        
    }

    .card {
        display: flex;
        max-width: 635px;
        max-height: 500px;
    }

    .card__header {        
        min-width: 300px;
    }

    .card__image {
        border-radius: 10px 0 0 10px;
        height: 100%;
        width: 100%;
    }

    .card__body {
        padding: 25px 0 0 0;
    }

    .card__image-container {
        height: 100%;
    }
}